body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

#carouselExampleIndicators img {
    width: 100%;
    height: calc(100vh - 56px);
    object-fit: cover;
}

.container {
    padding-top: 60px;
    padding-bottom: 30px;
}

#meet-the-team img{
    width: 100%;  /* fit the image within the div */
    margin: 15px 0;
  }

footer {
    display: flex;
    justify-content: center;
    background-color: #666;
    height: 100px;
    padding: 20px;
}

footer a {
    margin: 5px;
    text-decoration: none!important;
}

.social-icon {
    display: inline-flex;
    width: 50px;
    height: 50px;
    color: #666;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.social-icon:hover {
    color: #222;
}

#go-top-button {
    width: 50px;
    height: 50px;
    display: none;
    position: fixed;
    right: 30px;
    z-index: 99;
    border-radius: 50%;
}